form {
  max-width: 500px;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: var(--radius-sm);
  border: 1px solid var(--dark-700);
  background: var(--dark-800);
  color: var(--white);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--green-500);
}
